header.header
  .header__main
    .header__left
      a(href="/")
        img.header__logo(src="images/logo.png", alt="")
      ul.header__menu
        li.header__menu-item
          a(href="/home") Home
        li.header__menu-item
          a(href="/about") About
        li.header__menu-item
          a(href="/portfolio") Portfolio
        li.header__menu-item
          a(href="/services") Services
        li.header__menu-item
          a(href="/page") Page
        li.header__menu-item.js-open-submenu
          a Elements

    .header__right
      button.header__button Contact us
      .header__burger
        span
        span
        span

  .header__submenu
    .header__submenu-head
      span Elements
      span Elements 2
      span Elements 3
      span Elements 4
    .header__submenu-main
      .header__submenu-block
        a(href="client") Client
        a(href="/progress_bar") Progress Bar
        a(href="/header") Header
        a(href="/footer") Footer
        a(href="/accordions") Accordions
        a(href="/pricing") Pricing
      .header__submenu-block
        a(href="/contact_forms") Contact Forms
        a(href="/counters") Counters
        a(href="/icon_box") Icon box
        a(href="/subscribe") Subscribe Newsletter
        a(href="/action_butt") Action button
        a(href="/video_sec") Video Section
      .header__submenu-block
        a(href="/creative_shape") Creative_Shape
        a(href="/blog_box") Blog box
        a(href="/testimonial") Testimonial
        a(href="/services") Services
        a(href="/about") About us
        a(href="/faq") Faq
      .header__submenu-block
        a(href="/404") 404
        a(href="/coming_soon") Coming Soon Page
        a(href="/button") Button
        a(href="/typography") Typography
        a(href="/team") Team
        a(href="/structure") Structure

  .header__bottom
    img.header__bottom-circle(src="images/circle.png", alt="")
    img.header__bottom-romb(src="images/romb.png", alt="")
