section.section
  .offer
    span.offer__subtitle We’re Offering
    .offer__header
      .offer__title SEO Services with talent specialist & Digital business
      button.offer__button See More Services
