- var company = [{href: '/about', title: 'About'},{href: '/contact', title: 'Contact'},{href: '/home', title: 'Home'},{href: '/insights', title: 'Insights'},{href: '/services', title: 'Services & Clients'}, {href: '/work', title: 'Work'}]
- var solution = [{href: '/marketing', title: 'Digital marketing'},{href: '/phototype', title: 'Phototype'},{href: '/development', title: 'Development'},{href: '/design', title: 'Design'},{href: '/strategy', title: 'Business Strategy'}, {href: '/portfolio', title: 'Agency protfolio'}]


footer.footer
  .footer__container
    .footer__top
      .footer__left
        a(href="/")
          img(src="images/logo_dark.png", alt="").footer__logo
        p.footer__adress 75 Arlington St. Suite 500 Boston, MA 02116, USA
        a(href="tel: +088 01912704287").footer__tel +088 01912704287
        a(href="mailto:infooffice@gmail.com").footer__email infooffice@gmail.com
        .footer__social
          a(href="/fb").footer__social-link.footer__social-link--fb
          a(href="/in").footer__social-link.footer__social-link--in
          a(href="/web").footer__social-link.footer__social-link--web
          a(href="/tw").footer__social-link.footer__social-link--tw
      .footer__right
        .footer__block
          h3.footer__block-title Company
          each item in company
            a(href=item.href).footer__block-item=item.title
        .footer__block
          h3.footer__block-title Solution
          each item in solution
            a(href=item.href).footer__block-item=item.title
    .footer__bottom
      .footer__copyright Copyrights 2019 Template_mr Template
      .footer__mobile
        span.footer__mobile-title Mobile Apps :
        a(href="/googlapps").footer__mobile-item.footer__mobile-item--apple
        a(href="/apple").footer__mobile-item.footer__mobile-item--google
      .footer__links
        a(href="/plicy").footer__policy Privacy Policy
        a(href="/support").footer__support Customer Support
        a(href="/careers").footer__careers Careers
