footer.footer
  .footer__container
    .footer__top
      .footer__left
        a(href="/")
          img(src="images/logo_dark.png", alt="").footer__logo
        p.footer__adress 75 Arlington St. Suite 500 Boston, MA 02116, USA
        a(href="tel: +088 01912704287").footer__tel +088 01912704287
        a(href="mailto:infooffice@gmail.com").footer__email infooffice@gmail.com
        .footer__social
          a(href="/fb").footer__social-link.footer__social-link--fb
          a(href="/in").footer__social-link.footer__social-link--in
          a(href="/web").footer__social-link.footer__social-link--web
          a(href="/tw").footer__social-link.footer__social-link--tw
      .footer__right
        .footer__block
          h3.footer__block-title Company
          a(href="/about").footer__block-item About
          a(href="/contact").footer__block-item Contact
          a(href="home").footer__block-item Home
          a(href="insights").footer__block-item Insights
          a(href="/services").footer__block-item Services & Clients
          a(href="/work").footer__block-item Work
        .footer__block
          h3.footer__block-title Solution
          a(href="/marketing").footer__block-item Digital marketing
          a(href="/phototype").footer__block-item Phototype
          a(href="/development").footer__block-item Development
          a(href="/design").footer__block-item Design
          a(href="/strategy").footer__block-item Business Strategy
          a(href="/portfolio").footer__block-item Agency protfolio
    .footer__bottom
      .footer__copyright Copyrights 2019 Template_mr Template
      .footer__mobile
        span.footer__mobile-title Mobile Apps :
        a(href="/googlapps").footer__mobile-item.footer__mobile-item--apple
        a(href="/apple").footer__mobile-item.footer__mobile-item--google
      .footer__links
        a(href="/plicy").footer__policy Privacy Policy
        a(href="/support").footer__support Customer Support
        a(href="/careers").footer__careers Careers
